<div class='item JS-item' data-id='<%= id %>' data-type="<%= type %>">
	<img src='<%= avatar %>?width=70&height=70'>
	<div class="item-body">
		<span class='item-name'><%= name %></span>
	</div>
	<span class='item-icon icon-checkbox'></span>
</div>